- content_for :hero do
  %h1.deploy_title Deploy to Cloud Foundry
  %p.small_text Cloud Foundry now gives you the ability to deploy Sample Open Source Applications in seconds.
  %hr.tall
  %p.hero-header=@title
  .app_container_hero
    %img{:src => @sample_app_info.thumb_url}
    %p.hero-body.small_text=@sample_app_info.description
- content_for :subhead do
  %p.sub-head.small_text=@sample_app_info.description

%h2 Source
%p This is the location where you can get the source code for this sample application and fork the project into your own if you want to make changes to the app.
%a{:href=>@sample_app_info.git_repo, :target=>'_blank'}="#{@sample_app_info.git_repo}"
%br
%br
%h2 Configuration
%form.form-app{:action=> "/apps/#{@app_name}/deploy", :method => :post}
  %input{:name=>'external_email', :type => 'hidden', :value => params[:external_email]}
  %input{:name=>'external_app_name', :type => 'hidden', :value => params[:external_app_name]}
  #advanced
    %p
      %span The following will be set as environment variables on your Cloud Foundry application.
      %span You can use
      %strong vmc
      %span to get a list of all variables and edit them.
    -@env_vars.each do |env_var, env_value|
      .fieldset
        %label{:for=>env_var}="#{env_var}:&nbsp;"
        %input.short{:type=>'text', :value =>env_value, :name => env_var }

    -if @fail
      .error-box
        %h2 Error
        %span.flash=@fail
        %a#start_url{:href=> @sample_app_info.starting_url}=@sample_app_info.starting_url
        %span OR contact support including your
        %a{:href =>"mailto:support@cloudfoundry.com?subject=Issues deploying: #{@sample_app_info.display_name} as #{@current_app_name}"}support@cloudfoundry.com
    - elsif (@warn)
      .error-box
        %h2 Warning
        %span.flash=@warn
        %a#start_url{:href=> @sample_app_info.starting_url}=@sample_app_info.starting_url
    %br
    %h2 Application
    %br
    %p Configure how users will access your application
    .fieldset
      %label{:for => 'new_name'} Domain Name
      %span.right
        %input.domain{:name => 'new_name', :type => 'text', :value => @current_app_name}
        %span=CloudFoundry::App::DEFAULT_CF
  %dd
    -if (session[:email])
      -unless @warn
        .buttons
          %button{:type => 'submit', :enabled => false} Deploy
    -else
      .error-box
        %h2 To Deploy
        %span You must be logged in.
